<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-white">
			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>

			<div class="card-body">

				<ul class="list-group">
					<li class="list-group-item shadow p-3 mb-3"><b>Email : </b>
						<div th:text="${client.email}"></div></li>
					<li class="list-group-item shadow p-3 mb-3"><b>Tel&eacute;fono
							: </b>
						<div th:text="${client.phoneNumber}"></div></li>
					<li class="list-group-item shadow p-3 mb-3"><b>Fecha de
							registro : </b>
						<div th:text="${#dates.format(client.created, 'dd/MM/yyyy')}"></div></li>
				</ul>
				
				<p>
					<a th:href="@{/invoice/invoiceList/} + ${client.id}"
						class="btn btn-secondary btn-xs" th:text="'VER FACTURAS DEL CLIENTE'"></a>
				</p>
				<br>
				<div th:if="${#lists.isEmpty(client.students)}"
					class="alert alert-info my-4"
					th:text="'No hay alumnos asignados al cliente ' + ${client.name} + ' ' + ${client.surname}">
				</div>

				<div class="card bg-light">

					<div class="card-header" th:text="'Alumnos asociados: '"></div>
					<div class="card-body">

						<table th:if="${not #lists.isEmpty(client.students)}"
							class="table table-bordered table-white py-4 px-4">
							<tbody>
								<tr th:each="student: ${client.students}">
									<td class="col-sm-9"><a
										class="list-group-item list-group-item-action text-dark"
										th:href="@{/studentProfile/} + ${student.id}"
										th:text="${student.name} + ' ' + ${student.surname}"></a></td>
									<td class="col-sm-3"><a
										class=" float-right list-group-item list-group-item-action bg-danger text-white"
										th:href="@{/deleteStudentOfClient/} + ${student.id}"
										th:text="'Eliminar'"
										onclick="return confirm('¿Quiere eliminar el alumno?');"></a></td>
								</tr>
							</tbody>

						</table>
						<p>
							<a th:href="@{/studentForm/} + ${client.id}"
								class="btn btn-success btn-xs" th:text="'ALTA DE ALUMNO'"></a>
						</p>

					</div>
				</div>

			</div>

		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>