<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-white">
			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>

			<div class="card-body">

				<img th:if="${#strings.length(student.photo) > 0}"
					class="img-thumbnail rounded float-left" style="max-width: 25%;"
					th:src="@{'/uploads/' + ${student.photo}}"
					th:alt="${student.photo}" />

				<ul class="list-group">
					<li class="list-group-item shadow p-3 mb-3"><b>Email : </b>
						<div th:text="${student.email}"></div></li>
					<li class="list-group-item shadow p-3 mb-3"><b>Fecha de
							nacimiento : </b>
						<div th:text="${#dates.format(student.birthDate, 'dd/MM/yyyy')}"></div></li>
					<li class="list-group-item shadow p-3 mb-3"><b>Datos de
							cliente : </b>
						<div class="my-3" th:if="${not #lists.isEmpty(student.client)}">
							<a class="list-group-item list-group-item-action "
							th:href="@{/clientProfile/} + ${student.client.id}" 
							th:text="${student.client.name} + ' ' + ${student.client.surname}"></a>
						</div></li>
				</ul>
				<br>

			</div>

		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>