<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<img th:if="${#strings.length(student.photo) > 0}"
					class="img-thumbnail rounded float-left" style="max-width: 25%;"
					th:src="@{'/uploads/' + ${student.photo}}"
					th:alt="${student.photo}" />

				<ul class="list-group">
					<li class="list-group-item active"
						th:text="${student.name} + ' ' + ${student.surname}"></li>
					<li class="list-group-item"
						th:text="'Correo electr&oacute;nico: ' + ${student.email}"></li>
					<li class="list-group-item"
						th:text="'Fecha de nacimiento: ' + ${#dates.format(student.birthDate, 'dd/MM/yyyy')}"></li>
					<li th:if="${not #lists.isEmpty(student.client)}"
						class="alert alert-info my-4"
						th:text="'Datos de cliente: ' + ${student.client.name} + ' ' + ${student.client.surname}"></li>
				</ul>

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>